* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-body: #282829;
  --color-bg: #1e1e1f;
  --color-bg2: #262626;
  --color-primary: #4db5ff;
  --color-primary-variant: rgb(0 114 255 / 57%);
  --color-font: lightgray;
  --border: black 1px solid;
  --border2: black 2px solid;
  --border3: black 3px solid;
  --transition: all 400ms ease;
  --transition2: all 800ms ease;
  --shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

html {
  overflow: hidden;
}

body {
  background-color: var(--color-body);
}

#timer {
  display: flex;
  width: 150px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  background-color: white;
  font-size: 25px;
  justify-content: center;
  padding: 4px;
  border: var(--border2);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: var(--shadow);
}

#game {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  width: 634px;
  height: 634px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  background-color: white;
  box-shadow: var(--shadow);
  border: var(--border2);
}

#numberSelect {
  display: flex;
  width: 704px;
  height: 74px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  background-color: white;
  box-shadow: var(--shadow);
  border: var(--border2);
}

.piece {
  width: 70px;
  height: 70px;
  border: var(--border);
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding: 10px;
}

.pieceT {
  border-top: var(--border2);
}

.pieceB {
  border-bottom: var(--border2);
}

.pieceR {
  border-right: var(--border2);
}

.pieceL {
  border-left: var(--border2);
}

#game .piece:hover {
  background-color: lightblue;
  cursor: pointer;
}

#numberSelect .piece:hover {
  background-color: rgb(255, 121, 121);
  cursor: pointer;
}

#numberSelect .active {
  background-color: rgb(255, 121, 121);
  cursor: pointer;
}

#numberSelect .active1 {
  background-color: rgb(240, 20, 20);
  cursor: pointer;
}

#background {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  opacity: 0.2;
}

.einblendung {
  position: absolute;
  left: 0;
  right: 0;
  top: 180px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: var(--border2);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: var(--shadow);
  text-align: center;
}

#start {
  width: 400px;
  height: 500px;
}

.einblendung h1 {
  margin: 1em 1em 0em 1em;
}

.einblendung button {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  width: 150px;
}

.einblendung button:hover {
  background-color: #008cba;
  color: white;
}

#finished {
  width: 400px;
  height: 400px;
  display: none;
}

#schwierigkeit {
  margin: 1em 0em 1em 0em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rad-label {
  display: flex;
  align-items: center;

  border-radius: 100px;
  padding: 0.8em;
  margin: 0.3em 0 0 1em;

  cursor: pointer;
  transition: 0.3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 30%, 0.14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;

  background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
  position: relative;
}

.rad-design::before {
  content: "";

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: 0.3s;
}

.rad-input:checked + .rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: hsl(0, 0%, 40%);
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;

  transition: 0.3s;
}

.rad-input:checked ~ .rad-text {
  color: hsl(0, 0%, 0%);
}

.abs-site-link {
  position: fixed;
  bottom: 40px;
  left: 20px;
  color: hsla(0, 0%, 0%, 0.5);
  font-size: 16px;
}
